<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="new_file.css">
	<link rel="stylesheet" href="./swiper-bundle.min.css">
	<title>Vue</title>


	
</head>
<body>
	<div id="app">
	<!-- 	<div id="poem" v-if="poems[results].poem.isshow" class="container">
			<div class="space"></div>
			<div class="poemtitle">{{poems[results].poem.poemtitle}}</div>
			<div class="poemauthor">{{poems[results].poem.poemauthor}}</div>
			<div class="poemsentence" v-for="item,index in poems[results].poem.poemsentence">{{item}}</div>
			<div class="space"></div>
		</div>		 -->
		<div class="all">{{poems[results].all}}</div>
		<!--题目-->
		
		<div v-if="poems[results].backgroundis" class="container">
			<div class="title">背景简介</div>
			<div class="content" v-for="item,index in poems[results].background">{{item}}</div>
		</div>		
		<!--背景简介-->
		
		<div v-if="poems[results].appreciationis||poems[results].commentsis" class="container">
			<div class="title">作品赏析</div>
			<div v-if="poems[results].appreciationis">
				<div class="titles">原文赏析</div>
				<div class="content" v-for="item,index in poems[results].appreciation">{{item}}</div>
			</div>
			<div v-if="poems[results].commentsis">
				<div class="titles">名家评述</div>
				<div v-for="item,index in poems[results].comments">
					<div class="content" v-for="item,index in poems[results].comments[index].content">{{item}}</div>
					<div class="original">{{poems[results].comments[index].original}}</div>
				</div>
			</div>
		</div>	
		<!--作品赏析-->
		
		<div v-if="poems[results].artis||poems[results].reciteis||poems[results].vediois||poems[results].studyis||poems[results].contrastis||poems[results].sumis" class="container">
				<div class="title">衍生作品</div>
				
				<div v-if="poems[results].artis||poems[results].reciteis">
					<div class="titles">艺术作品</div>
							<div class="swiper" style="width: 90%;margin:2% auto;">
							    <div class="swiper-wrapper">
									<div class="swiper-slide" v-for="item,index in poems[results].art">
										<div class="container_test"  style="width: 100%; height:50VW;" ><img :src="poems[results].art[index].content" style="object-fit: contain;"></div>
										<div class="poemauthor">{{poems[results].art[index].original}}</div>
									</div>
							    </div>
							</div>
							<audio controls style="width: 80%; padding-left:10%;" :src="poems[results].recite.content" type="audio/mpeg"></audio>
					</div>
		<!--艺术作品-->
		
				<div v-if="poems[results].vediois||poems[results].studyis">
					<div class="title">相关资讯</div>
						<div v-if="poems[results].vediois">
							<div class="titles">视频咨询</div>
							<div v-for="item,index in poems[results].vedio">
								<a :href="poems[results].vedio[index].address" class="titless">{{poems[results].vedio[index].tittle}}</a>
								<div style="height:20px"></div>	
							</div>
						</div>
					
						<div v-if="poems[results].studyis">
							<div class="titles">学术研究</div>
							<div v-for="item,index in poems[results].study">
								<div class="content"  v-for="item,index in poems[results].study[index].content">{{item}}</div>
								<div class="original" >{{poems[results].study[index].original}}</div>
							</div>
						</div>
				</div>
		<!--相关资讯-->
		
				<div v-if="poems[results].contrastis||poems[results].questionis||poems[results].sumis">
					<div class="title">主题拓展</div>
						<div v-if="poems[results].contrastis">
							<div class="titles">对比阅读</div>
							<div></div>
						</div>
					
					<div v-if="poems[results].sumis">
						<div class="titles">总结性</div>
						<div v-for="item,index in poems[results].sum">
							<div class="titless"> {{poems[results].sum[index].title}}</div>
							<div class="content" v-for="item,index in poems[results].sum[index].content">{{item}}</div>
							<div class="original">{{poems[results].sum[index].original}}</div>
						</div>
					</div>
				</div>
		</div>

			
	</div>
	<script src="./swiper-bundle.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>		
	<script type="text/javascript">
		function getParamValue(param){
				var urlStr,reg,regResult,result;
				urlStr = window.location.search;
				reg = "/"+param+"=[^&]+/g";
				reg = eval(reg);
				regResult = urlStr.match(reg).toString();
				result = regResult.split('=');
				return result[1];
			}
			var result = getParamValue('id');
			a =  $.ajax({
						url: "content.json",//json文件位置，文件名
						type: "GET",//请求方式为get
						dataType: "json", //返回数据格式为json
						async: false,
						success: function(data) {//请求成功完成后要执行的方法 
						   }
						});	
			temp=a.responseText;
	</script>
	<script>
		var app = new Vue({
			el:"#app",
			data:{
				results:result,
				poems:[
					{
					//0
					all:"入峡寄弟",
					backgroundis:true,
					background:
					[
						"这首诗当作于开元二十一年(733年)秋季，孟浩然初次离开家乡出游，乘船逆长江而上，经三峡入巴蜀(今四川)。沿途的艰险开阔了他的眼界，也使他产生了思乡怀亲之情。恰逢有人欲赴襄阳，于是写了这首诗寄给他的弟弟们。"
					],
					appreciationis:true,
					appreciation:
					[
						"一至六句写在旅途中回忆在家读书时的情景。诗人青少年时代和诸弟在家闭门读书，攻读儒家经典。读书之余，也学剑、弹琴、游乐。兄弟们同室求学，携手共游，融洽无间，情深谊厚。但那时毕竟未历风险，以致连“坐不垂堂”这句话的意义也不理会。及至出门游历，其艰险程度，真是一言难尽。",
					    "七至十二句写游历三峡的所见所闻。这次远游，他乘船逆江而上，经宜昌而入三峡。三峡是著名的长江天险之地，以险滩多、水流急而闻名，两岸山势峻奇多姿，虎啸猿啼，气象万千。这时诗人心灵完全沉浸在雄奇壮丽的大自然的怀抱之中。",
						"十三句至二十句写进入三峡所见所闻引发的怀乡思弟的情愫。当夕阳西下，夜深人静之际，听到猿猴啼叫，不免激发心中凄凉心情。诗人不由自主地回想起同胞兄弟的手足之情，归家的念头油然而生，甚至梦中返回故乡。特别是来到明月峡时，因峡名明月联想起“团圆”，想起“鹡鸰原”的典故，深感独身在外的凄凉，记挂着弟弟们，不禁泪水模糊了诗人的双眼。“泪沾明月峡，心断鹡鸰原”两句表明诗人的思亲之情达到了高峰。在思乡之际，碰巧遇到一位要返回襄阳的同乡，于是便写了此诗，请他捎给弟弟们，充分表现了诗人作为兄长对弟弟们的一片爱心。",
						"此诗描写入巴蜀三峡时的艰险，抒发了作者远涉江湖之苦和怀乡忆弟之情。题中的“弟”指作者弟弟孟洗然、孟邕等。作者曾与他们一起隐居读书，都胸怀大志。作者这次经三峡正当深秋，诗中“壁立千峰峻，潈流万壑奔。我来凡几宿，无夕不闻猿”正是对三峡险境的高度概括。“浦上”以下各句则触景生情，由入明月峡而思念与家人团圆，见鹡鸰在原而感伤兄弟分离，感情表现得自然、真挚。"
					],
					commentsis:true,
					comments:
					[
						{
							content:
							[
								"起处凄婉，‘壁立’四句，巴峡峭幽之状殆尽，然不可下点，又却自佳。"
							]
							,
							original:"南宋词人刘辰翁《王孟诗评》"
						},
					],
					artis:true,
					art:[{content:"./resource/0_0.jpg",original:"当代·杨君伟书"}],
					reciteis:true,
					recite:{content:"./resource/0.mp3",original:""},
					vediois:false,
					vedio:[{address:"",tittle:""}],
					studyis:false,
					study:[{content:[""],original:""}],
					contrastis:false,
					contrast:{poem:[{title:"",original:"",sentence:[]}],content:[]},
					sumis:true,
					sum:[{title:"孟浩然《入峡寄弟》诗中的“明月峡”指的是什么？",
					content:
					[
						"频繁出现在唐诗中的“明月峡”，集中分布在长江沿线。必须注意巴东明月峡的存在。注家所谓的朝天“明月峡”、巴县“明月峡”，实际上多是这巴东“明月峡”或巴东三峡。孟浩然《入峡寄弟》中的“明月峡”也不是陈贻焮先生一再肯定的巴县“明月峡”，且依此判定孟浩然“起码西至巴县”是不可靠的——至少该诗所指的是巴东“明月峡”。其实应视其为普通词组，理解为“明月下的峡谷”更为合适。",
						"孟浩然《入峡寄弟》中“泪沾明月峡,心断鹡鸰原”的“明月峡”，也应是指巴东明月峡。它非常重要，涉及到对诗人生平的根本认识，关系到对这位著名诗人的基本评断。",
						"孟浩然《入峡寄弟》中的“明月峡”应意为“明月下的峡谷”。“泪沾明月峡,心断鹡鸰原”，作为对仗的诗句，往往上下联之间可互证。该诗下联“鹡鸰原”并非专名，不过是指有鹡鸰的原野而已。同样，上联“明月峡”也就失去了专名的意味，理解为“明月下的峡谷”才能和下联“有鹡鸰的原野”相对，就更恰当了。诗作中的地名，如仅仅只表达某一地理方位，则过于坐实，就可能有损诗味了，故诗人往往赋予其地名外更多的韵味。这里，诗人将它和“鹡鸰原”相对，就使得它自然地超越了呆板的地名，转而成为了一副动人的图景，既切实具体，又轻盈空灵，韵味就丰厚了。"
					],
					original:"（参考文献：[1]李树民.唐诗中的“明月峡”考论[J].襄樊学院学报,2011,32(07):56-61.）"}]
				},
				{
					//1
					all:"途次望乡",
					backgroundis:true,
					background:["这首诗作于开元二十二年（734年），孟浩然游蜀返襄的出峡途中，时间在早春。",
					"孟浩然（689年—740年），字浩然，号孟山人，襄州襄阳（今湖北襄阳）人，唐代著名的山水田园派诗人，世称“孟襄阳”。因他未曾入仕，又称之为“孟山人”。孟浩然生于盛唐，早年有志用世，在仕途困顿、痛苦失望后，尚能自重，不媚俗世，修道归隐终身。曾隐居鹿门山。40岁时，游长安，应进士举不第。曾在太学赋诗，名动公卿，一座倾服，为之搁笔。开元二十五年（737）张九龄招致幕府，后隐居。孟诗绝大部分为五言短篇，多写山水田园和隐居的逸兴以及羁旅行役的心情。其中虽不无愤世嫉俗之词，而更多属于诗人的自我表现。孟浩然的诗在艺术上有独特的造诣，后人把孟浩然与盛唐另一山水诗人王维并称为“王孟”，有《孟浩然集》三卷传世。"],
					appreciationis:true,
					appreciation:["这首诗的前四句描绘出一位路途中面对落日焦急愁苦的游子形象。联系诗人行踪，当为写实，而实情的确令人惆怅：身在行旅，“乡思”萦绕，又遇“落日”、“天寒”，令人走投无路。第五、六句，诗人借眼前的“迷郢路”、“失阳台”，委婉道出自己不遇的苦衷，用典典雅，内涵深蕴。末尾二句是较为显豁的抒情之笔：诗人回想当年的高远志向，不料如今难遇知音，无人提携，心情格外沉重，因而吐出了“可叹凄惶子”的凄楚之音。结句“高歌谁为媒”则既是对命运不济的悲叹，更是愤愤不平的呼喊。",
					"疑此诗也和《望洞庭湖赠张丞相》一样，是一首干谒诗。其用笔抒情有实有虚，有比有喻。但观全诗用比似不及《望洞庭湖赠张丞相》圆熟、得体。"],
					commentsis:false,
					comments:[{content:[""],original:""}],
					calligraphyis:true,
					calligraphy:[
					{content:"./resource/途次望乡/书法1.jpg",original:"当代·苏明炜书"}
					],
					drawis:false,
					draw:[{content:"",original:""}],
					reciteis:true,
					recite:{content:"./resource/途次望乡/朗诵1.mp3",original:""},
					courseis:false,
					course:[{address:"",tittle:""}],
					studyis:false,
					studyone:[{content:[""],original:""}],
					studytwo:[{address:"",tittle:""}],
					contrastis:false,
					contrast:{poem:[{title:"",original:"",sentence:[]}],content:[]},
					questionis:false,
					question:[{que:"",
					ans:[""],
					original:""}],
					sumis:false,
					sum:[{tittle:"",content:[""],original:""}]
				},
				{
					//2
					all:"途中遇晴",
					backgroundis:true,
					background:["这首诗或写于诗人出游蜀中时。开元二十三年，孟浩然开始入蜀漫游，蜀地绝美风光再次激发了诗人的灵感，《途中遇晴》便是此时所作。"],
					appreciationis:true,
					appreciation:["首联交待行踪，着眼于雨。二、三两联描绘雨后的傍晚景色，突出以晴。写景细腻、真切。最后借月抒情，发乡思之恋。此诗一反常规，不写旅途遇雨的艰辛，反写经过风雨冲涮之后的晚景清新之美。而这眼前之美景却触发了诗人怀土思归之情，可谓笔曲意深。",
					"“途中”指的是在巴蜀路途上。“已失”二句写行进在巴蜀的途中虽已遇雨天晴，但道路依然泥泞。“天开”二句写雨后天晚，夕阳偏照；青山高突，暮云低垂。“余湿”二句写水球还挂在草叶上，地上的流水还在晔晔地奔向小溪。“今宵”二句写今晚在皎洁的月光下，思念家乡，心情愁苦悲伤。"],
					commentsis:false,
					comments:[{content:[""],original:""}],
					calligraphyis:false,
					calligraphy:[
					{content:"",original:""}
					],
					drawis:true,
					draw:[{content:"./resource/途中遇晴/美术1.jpg",original:"清·王翚《唐人诗意图》节选"}],
					reciteis:true,
					recite:{content:"./resource/途中遇晴/朗诵1.mp3",original:""},
					courseis:false,
					course:[{address:"",tittle:""}],
					studyis:false,
					studyone:[{content:[""],original:""}],
					studytwo:[{address:"",tittle:""}],
					contrastis:false,
					contrast:{poem:[{title:"",original:"",sentence:[]}],content:[]},
					questionis:false,
					question:[{que:"",
					ans:[""],
					original:""}],
					sumis:false,
					sum:[{tittle:"",content:[""],original:""}],
					},
				{
					//3
					all:"行出竹东山望汉川",
					backgroundis:true,
					background:["这首诗当作于诗人晚年自三峡离蜀返楚途中。"],
					appreciationis:true,
					appreciation:["此诗写峡中景物与出峡后遥望家乡的喜悦。“异县”两句由王粲《登楼赋》“虽信美而非吾土兮”化出。“平田”二句意谓山城郭外多梯田，田垄盘曲，横亘云中。“猿声”二句意谓峡中猿声杂乱，已入楚境而当地人说话还带巴蜀口音。“岚解”句是说山气浓重，大白天消散后才出太阳。“征马”二句指舍马乘船而归。",
					"前三联写诗人所游览的三巴地区的“异县”风光：平田极少，遍山绿竹，梯田入云，沟壑交错，千峰指天，形象地勾画了蜀中自然特点。后几联写出峡时和出峡后所闻所见风景风情的感受。“猿声”、“人语、“石上”、“藤间”等句写出了三峡两岸风情的独特性；“雪余”、“岚解”、“归帆”、“坐欣”等句，又写出了初春时分回归故土的舒畅心境。诗人以亲切自然的笔调，抒写了自己对祖国壮丽河山的由衷赞美和热爱之情。全诗以写景为主，而又寓情于景。写景时采取流动性动态环境的描写方式，极富特色。"],
					commentsis:false,
					comments:[{content:[""],original:""}],
					calligraphyis:false,
					calligraphy:[
					{content:"",original:""}
					],
					drawis:true,
					draw:[{content:"./resource/行出竹东山望汉川/美术1.jpg",original:"当代·杨泓作"}],
					reciteis:true,
					recite:{content:"./resource/行出竹东山望汉川/朗诵1.mp3",original:""},
					courseis:false,
					course:[{address:"",tittle:""}],
					studyis:false,
					studyone:[{content:["在包括《孟浩然诗集笺注》在内已问世的六种孟浩然集整理本中，《笺注》对于地名的“笺注”，是属于用力较勤的一种，然其亦多有误注或误笺，下面特例举五端以订正之。宋蜀刻本《孟浩然诗集》卷中有《行出竹东山望汉川》一诗，《笺注》注“竹东山”引李吉甫《元和郡县图志》，认为此山乃“竹山县东之山”，亦即坐落于湖北竹山县“东南三十里”的方城山，实则为误。",
					"按：是诗有云：“猿声乱楚峡，人语带巴音。……坐欣沿溜下，信宿见维桑。”所写乃为峡江一带的风情风俗。据此，知孟浩然此行乃是乘船顺长江而下，待至“汉川”（汉水入此长江处），而写此诗以纪之。但《笺注》据《行出竹东山望汉川》这一诗题则认为，此诗乃写于“竹山县东之山”一带。然需指出的是，今湖北竹山县，北距汉水约180公里，南距长江约500公里，且南北两途之间皆崇山峻岭，是地不仅无“人语带巴音”之俗况，而且根本不能“坐欣沿溜下”。另外，综孟浩然一之行踪可知，其从不曾至今湖北竹山县境，又如何会在斯地“行出竹东山”呢？而且，古今竹山县，压根就没有所谓的“竹东山”（“竹山县东之山”为方城山，但其并不能称为“竹东山”）。而就全诗之所写言，此诗之题应以《文苑英华》作《行至汉川作》为是。另从版本学的角度审视，《文苑英华》较之宋蜀刻本《孟浩然诗集》是更具版本学价值的。而此，也是《文苑英华》后的明铜活字、《唐百家诗》本、《四库全书》本、《四部丛刊》本《孟浩然集》等，乃皆作《行至汉川作》的原因之所在。"],
					original:"王辉斌《孟浩然诗集笺注》志疑（节选）"}],
					studytwo:[{address:"",tittle:""}],
					contrastis:false,
					contrast:{poem:[{title:"",original:"",sentence:[]}],content:[]},
					questionis:false,
					question:[{que:"",
					ans:[""],
					original:""}],
					sumis:false,
					sum:[{tittle:"",content:[""],original:""}],
					},
					{
					//4
					all:"巴女词",
					backgroundis:true,
					background:["这首诗当作于开元十四年（公元726年）诗人二十五岁去蜀途中，行至巴地，拟民歌之作。自此之后，不断有拟作，表现了李白对民歌的倾心和学习。"],
					appreciationis:true,
					appreciation:["诗中巴女的丈夫大约是乘船东下去经商，所以诗人模仿巴女的口吻，用极简单的几笔，勾勒出与丈夫分别时的情景，道出了女子当时的不忍分别的复杂心情。",
					"诗中前两句写水、写船，“急如箭”“去若飞”两个比喻恰切描摹了巴水湍急以及小船疾去的情形。这既是对客观事物的实写，又含蓄地写出了送行者洒泪惜别的细微心理活动。在诗中主人公看来，顷刻离别，去若离弦，万千心事还没有来得及说，丈夫所乘坐的小船就消失在江水的尽头了，这实是令人难以忍受。",
					"接下两句是对巴女内心活动的直接刻画。巴女送丈夫离去以后，落泪如雨，痴痴立在岸边，她默然地计算着：“十月三千里，郎行几岁归？”暗寓出身隔异地，夫妻两人不知何时才能团聚的悲伤之情。很多行商在外的旅人，由于交通极不便利，各种物质条件的贫乏，往往客死异乡，或者竟在外地另立家室。在家独守的商妇，大多形同孤寡、无依无靠，她们的命运是非常悲惨的，所以她们与丈夫离别就象生离死别一样。本诗就在对这种无限惆怅的情调的描写中，提出了一个令人深思的社会问题。",
					"这首诗从题材到语言与六朝民歌几无区别，形式朴素简洁，语言明快自然、不假雕琢，真切生动地表现了巴女那种真挚淳朴的思想感情。"],
					commentsis:false,
					comments:[{content:[""],original:""}],
					calligraphyis:true,
					calligraphy:[
					{content:"./resource/巴女词/书法1.jpg",original:""}
					],
					drawis:false,
					draw:[{content:"",original:""}],
					reciteis:true,
					recite:{content:"./resource/巴女词/朗诵1.mp3",original:""},
					courseis:true,
					course:[{address:"https://haokan.baidu.com/v?vid=16872897163501040896",tittle:"李白《巴女词》讲解、赏析"}],
					studyis:false,
					studyone:[{content:[""],
					original:""}],
					studytwo:[{address:"",tittle:""}],
					contrastis:false,
					contrast:{poem:[{title:"",original:"",sentence:[]}],content:[]},
					questionis:true,
					question:[{que:"《巴女词》一诗是李白在哪个阶段创作的？",
					ans:["清代王琦先生在给这首诗作注时认为诗中“巴水”就是渝州、涪州、忠州、万州等处流经三峡的江水，本就湍急的巴水是盛涨时的长江水。但是学者敬永谅认为这种说法是不妥当的，他认为《巴女词》中“巴水”定有所指，所以“巴水”不是江水，尽管是流经巴地的长江，也不能叫做“巴水”。“巴水”在狭义上是专指发源于晋昌郡巴岭山汇入渠江之水，在唐代更多的是特指嘉陵江。李白在出蜀时无沿嘉陵江活动的记载和作品，所以不能仅凭李白在其他作品中把流经巴地之水称“巴水”就断定《巴女词》是李白出蜀时所作。李白自叙“少长江汉”，又有诸多事实说明他少时中在嘉陵江上游一带活动，更兼自幼就熟悉巴地民歌，又“常横经籍书，制作不倦”（《上安州裴长史书》)，具有强烈的创作欲望，所以，《巴女词》完全有可能是李白少年时代在嘉陵江上游一带游历时所作。"],
					original:"（参考文献：[1]敬永谅. 《巴女词》当是李白少作[C]//.中国李白研究（2003-2004年集）——2003年李白国际学术研讨会论文集.,2003:112-118.）"}],
					sumis:false,
					sum:[{tittle:"",content:[""],original:""}],
					},
					{
					//5
					all:"上三峡",
					backgroundis:true,
					background:["这是李白在唐肃宗乾元二年（759年）二月流放夜郎途经三峡时的作品。安史之乱爆发后，永王李璘以平定叛乱为号召出师，曾三次派遣使者聘请李白参加他的幕府，李白出于报国立功的良好愿望应聘入幕。至德二载（757年）唐肃宗李亨和永王李璘发生夺权内讧，李亨消灭了李璘的军队。李白因此获罪，被投入浔阳监狱。后来又流放夜郎。他从九江逆流而上，走了近一年到达宜昌，接着便进入三峡，写下此诗。当时李白59岁。三峡是长江最为险峻、最难走的一段，在此行程比前面更慢，送行的妻子宗氏和妻弟也已经告别回南昌了，因此诗人就更加感到孤独，情绪更坏。"],
					appreciationis:true,
					appreciation:["全诗虽仅八句四十字，却充分表现了诗人上长江三峡时行路的艰难以及内心的痛苦，将逆境难熬、情绪郁闷的状况展现得淋漓尽致。此诗表现手法多样，语言自然真率，虽流露出忧郁伤感的情绪，但气象雄伟，意境开阔，显示出诗人豪迈的气概。",
					"前四句，诗人运用大胆夸张的手法，极力描绘了巫山高入云天、巴水急流滚滚的壮丽景色。“巫山夹青天”，“夹”字用得极其到位，既写出了巫山险峻，遮天蔽日的形势，也包含着诗人喟叹青天的形象。“巴水流若兹”，含有无奈之意。三、四两句，并非说巴水可以行到尽头，而是写出了巴水纡曲，舟行迟迟的情景。“巴水忽可尽”，著一“忽”字，山回水转，尽在眼前；“青天无到时”，既写实又在写情。这两句诗由对客观景物的描写逐渐过渡到诗人的主观抒情，即由景入情，融情于景，达到情景交融。",
					"诗的后半部分对三、四两句诗意作了进一步阐发。“三朝上黄牛，三暮行太迟”，明写逆水行船艰难，船行缓慢，实际表达的是诗人的感受和心态。五、六两句既用互文笔法写朝暮赶路，又暗含时间的承续：早起赶路到晚上也没能走多远。“不觉鬓成丝”，写出诗人因船行缓慢而愁白了头，包含着时光难度，逆境难熬的感受。末两句情景交融，既在描写景象，又在抒发感情，从中可体味出诗人悲愁愤懑的心境。诗中连续重复“三朝三暮”，极有船工号子的感觉。古时有歌谣曰：“朝发黄牛，暮宿黄牛。三朝三暮，黄牛如故。”最后四句是从这首民间歌谣脱胎而来的。但古歌谣指提到舟行的缓慢，而李白的诗除了说“三暮行太迟”外，还有“不觉鬓成丝”，旅途艰辛和心情忧郁使诗人在不知不觉中鬓发都愁白了。这就把客观叙事和主观抒情巧妙地结合了起来，含蓄委婉地映衬出诗人当时愁苦的心情。",
					"学者王国维在《人间词话》中说：“昔人论诗词，有景语、情语之别，不知一切景语皆情语也。”李白诗里《上三峡》相映成趣的是《下江陵》（《早发白帝城》），后者是诗人流放途中忽闻赦书，旋即乘舟东返时写下的名篇。《上三峡》写于诗人流放途中，诗中描写巫山险峻，巴水纡曲，舟行迟迟，愁令发白。流放者唯觉逆境难熬，心情愤懑，壮丽风光为之减色。《下江陵》是诗人流放途中忽闻赦书，旋即乘舟东返时写下的，城高入云，晨光初灿，气象开朗，舟行轻快。“一日千里”是诗人心态轻松的主观感受，喜悦心情渲染得淋漓尽致。同一位诗人，同一处景致，却气象迥异，正是“融情入景”的鲜明写照。"],
					commentsis:true,
					comments:[{content:["（黄牛峡）庙后山如屏风叠，嵯峨插天。第四叠上若牛状，其色赤黄；前有一人如著帽立者……（舟行一日）犹见黄牛峡庙后山。太白诗云：“三朝上黄牛，三暮行太迟。三朝又三暮，不觉鬓成丝。”"],original:"宋代陆游《入蜀记》"},
					{content:["辞太轻浅，而又近俗，非白作也。"],original:"明代朱谏《李诗辨疑》"},
					{content:["古乐府“朝见黄牛，暮见黄牛。三朝三暮，黄牛如故。”李白则云：“三朝上黄牛，三暮行太迟，三朝又三暮，不觉鬓成丝。”……古人谓李诗出自乐府古《选》，信矣。"],original:"明代杨慎《升庵诗话》朱谏《李诗辨疑》"},
					{content:["钟云：声响似峡中语。"],original:"明代钟惺、谭元春《唐诗归》"},
					{content:["落卸皆神，袁淑所云“须捉著，不尔便飞”者，非供奉不足以当之。真《三百篇》，真《十九首》，固非历下、琅邪所知，况竟陵哉！"],original:"明末清初王夫之《唐诗评选》"},
					{content:["青莲善用古乐府，昔人曾言之。……“三朝见黄牛”……皆自古乐府来。如李光弼将郭子仪军，旌旗改色；又如禅僧拈佛祖语，信口无非妙谛。"],original:"清代田雯《古欢堂杂著》"},
					{content:["质处似古瑶，惟其所之，皆可以相肖也。爽直之气，自是木色。"],original:"清高宗敕编《唐宋诗醇》"},
					{content:["严沧浪曰：从谣音再叠，情似《阳关》。严云：“夹青天”三字形容已尽，设有惊奇之意，必繁衍作数十语矣。"],original:"日本近藤元粹《李太白诗醇》"},
					
					],
					calligraphyis:false,
					calligraphy:[
					{content:"./resource/上三峡/书法1.jpg",original:"赵春彦 译"}
					],
					drawis:true,
					draw:[{content:"./resource/上三峡/美术1.jpg",original:"赵春彦 译"}],
					reciteis:true,
					recite:{content:"./resource/上三峡/朗诵1.mp3",original:""},
					courseis:false,
					course:[{address:"https://haokan.baidu.com/v?vid=7366861510849551584",tittle:"李白《上三峡》讲解、赏析"}],
					studyis:false,
					studyone:[{content:[""],
					original:""}],
					studytwo:[{address:"",tittle:""}],
					contrastis:false,
					contrast:{poem:[{title:"",original:"",sentence:[]}],content:[]},
					questionis:false,
					question:[{que:"《巴女词》一诗是李白在哪个阶段创作的？",
					ans:["清代王琦先生在给这首诗作注时认为诗中“巴水”就是渝州、涪州、忠州、万州等处流经三峡的江水，本就湍急的巴水是盛涨时的长江水。但是学者敬永谅认为这种说法是不妥当的，他认为《巴女词》中“巴水”定有所指，所以“巴水”不是江水，尽管是流经巴地的长江，也不能叫做“巴水”。“巴水”在狭义上是专指发源于晋昌郡巴岭山汇入渠江之水，在唐代更多的是特指嘉陵江。李白在出蜀时无沿嘉陵江活动的记载和作品，所以不能仅凭李白在其他作品中把流经巴地之水称“巴水”就断定《巴女词》是李白出蜀时所作。李白自叙“少长江汉”，又有诸多事实说明他少时中在嘉陵江上游一带活动，更兼自幼就熟悉巴地民歌，又“常横经籍书，制作不倦”（《上安州裴长史书》)，具有强烈的创作欲望，所以，《巴女词》完全有可能是李白少年时代在嘉陵江上游一带游历时所作。"],
					original:"（参考文献：[1]敬永谅. 《巴女词》当是李白少作[C]//.中国李白研究（2003-2004年集）——2003年李白国际学术研讨会论文集.,2003:112-118.）"}],
					sumis:false,
					sum:[{tittle:"",content:[""],original:""}],
					},
					{
					//6
					all:"自巴东舟行经瞿唐峡，登巫山最高峰，晚还题壁",
					backgroundis:true,
					background:["这是一首很完整的记游诗，是李白坐船从巴东到瞿塘峡然后登上巫山最高峰，在傍晚归来时创作的。此诗当写于开元十三年（725）李白二十五岁之时。是年秋季，李白“仗剑去国，辞亲远游”（《上安州裴长史书》），离开自己的家乡走向广阔的天地。他从家乡绵州昌隆县青廉乡（今四川江油）出发，沿江顺流而下，走的可能都是水路。过夔州（今四川奉节）不远便是瞿塘峡，出峡后诗人停船游览巫山，并登上了最高峰。游历过程中，诗人兴致勃发，直至黄昏日暮月出时方无奈而归。此诗所记正是这次游山的经过。"],
					appreciationis:true,
					appreciation:["诗的开头概述自己登巫山前的情景。“江行几千里，海月十五圆”两句是说自己从家乡出发以来，沿江已走了几千里水路。这天正逢望日，明月皎洁，圆如银盘。诗人接着说，刚刚经过瞿唐峡之后便徒步登上巫山的最高峰。在山巅之上，诗人极目千里，饱览巫山的雄姿。“巫山高不穷，巴国尽所历”紧承前句，写巫山的高危与广阔。“不穷”是无穷无尽之意，这显然是夸张的说法，但又可说是诗人所目见。因为诗人视野之内皆是耸山峻岭，都是巫山之境，故谓之“无穷”，所以下句说整个巴国境内都被巫山占据了。当然此句只是形容巫山面积之大，与杜甫名句“岱宗夫如何，齐鲁青未了”句意相同，不必拘泥考证巴国的辖境。“日边攀垂萝，霞外依穹石。飞步凌绝顶，极目无纤烟”四句写登山时的主观感受。山路高危陡峭，诗人要凭借垂下的藤条萝蔓才可向上攀援，有时只好倚偎在突出的大石头上喘息一会儿。诗人登得太高了，他觉得好像在日边霞外一般，云气在脚下缭绕，太阳在身边高悬。诗人心情愉悦，急不可待地快步登上绝顶，向远处眺望。啊!太美了。天清日朗，万里澄鲜，一点遮挡视线的东西也没有。他心旷神怡，浮想联翩，以下六句便写其在顶峰上的感受。",
					"“却顾”两句是说，山顶真是高极了，回头向下一看，只见万里深渊神秘莫测，令人面容失色，心惊肉跳；抬头向上一望，头上即是青天。登临高绝之处，惊愕中又有几分自豪感，这是所有登山人都会产生的普遍心理。于是诗人展开了想象的翅膀，竟觉得青天仿佛可以用手就能摸到一样，但夜间所常见的银河此时却不知哪里去了。远望云彩的升起之处，便可知道苍梧山所在的地方；观看那奔腾的大江的流逝，便可辨别大海所在的方向。“苍梧”语出《归藏·启筮》：“有白云出自苍梧，入于大梁”。“瀛海”一词出白于《史记》。其实这两句诗是诗人由眼前所见的云气和江水发想而来，江流的方向当然应该是大海，无须详考。“周游孤光晚，历览幽意多”两句是过渡句，承上启下，下文便转写归途中的景色。",
					"“积雪照空谷”以下八句大意是说，高山背阴处的积雪映照着空荡荡的深谷，风吹树木发出呜呜的悲凄之声。踏上归途时天色已晚，只剩夕阳的余晖了，但诗人游意未艾，兴致颇高。江上寒冷，故早早就听到了猿的啼叫之声，天色朦朦胧胧，远处的松林已隐隐约约，一轮明月从那里缓缓升起，宛如松林吐出的一般。月光皎洁明媚，猿声清幽凄厉。此情此景给人一种空寂静穆的感觉。这既是眼前的实景，又有诗人不忍离去的主观情感寓于其间，因此有一种惆怅惋惜的情味。最后两句说虽然自己还有游兴。但不愿再听到猿的啼叫声，这才怀着恋恋不舍的心情辞别了巫山，拄着登山杖回到了船上。",
					"全诗记叙登巫山的经过，写得相当完整。从开始上山写起，继写登山时的感受与登上顶峰时所见到的景色，最后写下山及回船的过程，一气呵成，完全按时间顺序和所经历的过程来写，脉络清晰，层次分明。诗中借助夸张手法和大胆的想象渲染巫山之高峻宏伟，“日边”、“霞外”等诗句给人以飘飘欲仙之感“青天若可扪，银汉去安在？”两句更是异想天开的惊人之语，令人耳目一新，充分体现出诗人的浪漫气质。此诗是太白初离家乡时所作，他第一次接触到如此雄伟壮阔的山川景色，又因未接世事，所以诗中洋溢着欣喜之情，虽然在后半部分略含凄寂之味，但那恰恰充分地表现了游兴未尽的遗憾与惋惜，并没有什么感伤的情味。全诗的基调是明朗乐观，积极向上的，与其后来的一些山水诗的扑朔迷离，晦暗感伤是大不相同的。"],
					commentsis:true,
					comments:[{content:["于叙次中见寄托，词意沉郁。盖白当忧患之余，虽豪迈不改，而怀抱可知，故言多楚声，吟皆商调。中间遥情忽往，不胜魏阙之恋。猿啼月上，于邑谁语？其所感深矣。其词敛而不肆，读者以意逆之，可也。"],original:"《唐宋诗醇》"},
					{content:["第四解高风跨俗，杰语迭见，自是本色（“青天”四句下）。警句清冷逼人（江寒”二句下）。"],original:"《李太白诗醇》"},
					
					],
					calligraphyis:true,
					calligraphy:[
					{content:"./resource/自巴东舟行经瞿唐峡，登巫山最高峰，晚还题壁/书法1.jpg",original:"徐开扬书法作品，源自“姑苏静逸斋”公众号"}
					],
					drawis:false,
					draw:[{content:"./resource/上三峡/美术1.jpg",original:"赵春彦 译"}],
					reciteis:false,
					recite:{content:"./resource/上三峡/朗诵1.mp3",original:""},
					courseis:true,
					course:[{address:"https://haokan.baidu.com/v?vid=6665484562709659385",tittle:"静逸翁书法作品：李白自巴东舟行经瞿唐峡登巫山最高峰晚还题壁"}],
					studyis:false,
					studyone:[{content:[""],
					original:""}],
					studytwo:[{address:"",tittle:""}],
					contrastis:false,
					contrast:{poem:[{title:"",original:"",sentence:[]}],content:[]},
					questionis:true,
					question:[{que:"本诗中的“巴东”指的是什么地点？",
					ans:["此诗“巴东”这一地理概念的具体所指，历来有所争议。一些旧注认为诗题上的“巴东”即是唐代归州的巴东（今湖北巴东），如比较权威的清代学者王琦所注的《李太白全集》在此诗题下解释说：“巴东，即归州也，唐时隶山南东道。”（《李太白全集》中册1021页，中华书局出版）若仅凭字面意义，此说无错。但按照诗意，则不可通。诗题曰“自巴东舟行经瞿唐峡登巫山”云云，可知诗人的行进路线是从巴东出发，然后穿过瞿唐峡，接着才登上巫山的。若此，巴东的位置一定在瞿唐峡之前，或者说，瞿唐峡一定在巴东和巫山的中间。然而，归州的巴东却在巫山的下游，若自这里登巫山，则必须溯江而上，但无论如何又无法经过瞿唐峡。如果顺流，那就要先过瞿唐峡，登巫山之后要再行走相当一段水路方可到归州的“巴东”，与诗题大相牴牾。于此可知，“归州巴东”的说法是错误的。其实此诗中的“巴东”是指夔州（今四川奉节）。《新唐书》地理志卷四十载：“夔州，云安郡下都督府，本信州巴东郡。武德二年（619）更州名，天宝元年（642）更郡名。”据此可知夔州原来是信州的巴东郡，至“天宝元年”始“更郡名”。李白此行当在开元十三年（725），此时的夔州尚未改名，仍叫巴东郡，所以诗人才有此称。又据《方舆胜览》：“瞿塘峡在夔州东一里”。若把与此有关的地名按长江流向自上而下的地理位置排列一下的话，其顺序则是夔州、瞿唐峡、巫山、巴东，况且前三处所距不远，完全可能是在一天中所经过的三个地方。诗人自夔州（时称巴东郡）出发，很快即经过瞿唐峡而到达巫山（参见《中国历史地图册》第五册47－48页，中华地图学社出版）。这样解则全诗疑窦顿开，语意甚明。"],
					original:"（参考文献：[1]敬永谅. 《巴女词》当是李白少作[C]//.中国李白研究（2003-2004年集）——2003年李白国际学术研讨会论文集.,2003:112-118.）"}],
					sumis:false,
					sum:[{tittle:"",content:[""],original:""}],
					},
					{
					//7
					all:"南流夜郎寄内",
					backgroundis:true,
					background:["此诗为肃宗乾元二年（759）春，李白流放夜郎途中寄给居住在豫章的妻子宗氏所作。",
					"李白一生很少顾家顾妻子的诗，而流放夜郎途中，却写出了满怀深情的寄内诗。可见流放事件对李白内心造成的刺激之大之重之深，李白几乎承受不了这一结果，寄内诗有理解妻子的成分，实际还有内疚的心情，人之将死，其言也善。所以寄内诗有点还有临终遗言的味道。"],
					appreciationis:true,
					appreciation:["全诗从时间上看，照理应先白昼后月夜，先写雁后写月，但诗人却打破时间流程，首句即突兀而作惊人语，深郁的怨恨之情迸发而出，直逼读者胸臆，写千里之外的明月楼，将离居之怨表现得更为具体。最后点出触发诗人思绪的眼前景“北雁”，以“南来不得豫章书”之淡语作结，雁影在天边淡去，怨恨与愁思却在心头沉积。",
					"首句开宗明义，统领全篇，点明地点和心境，总写流放途中对家室的眷念和寂寞哀怨的心情。首句中“天外”两字，以夸张的手法极言流放地夜郎的偏僻遥远，流露出诗人对远贬之地的隔漠、陌生和恐惧之感。故此，“夜郎天外”四字，语虽平淡，意极凝重，蕰涵着诗人对流放生涯的愤懑不平和深深的恐惧。“怨离居”借用《古诗十九首》中诗句“同心而离居，忧伤以终老。”“怨”字，点明了诗人远谪夜郞，与亲人隔绝的怨愤心理，揭示了诗人内心的哀怨与忧愁。",
					"后三句是对首句的补充和生发。",
					"次句借用曹植诗意，写诗人自己身在远方，妻子音信杳疏，以悲苦独居的“愁思妇”来想象妻子宗氏今日所处的境况，显露出诗人流放途中的孤苦寂寞、眷念亲人、迫切期待着家书的到来的痛楚心情。高悬中空而亘古常辉的“明月”，把诗人与所思之人联系在一起，不仅起到传递信息和寄托情思的作用，更挥洒出一种意境，广袤深邃。",
					"末两句即景抒情，触景生情，巧妙地借鸿雁传书的传说，反映诗人翘首盼望家书、望眼欲穿的焦灼和因音讯杳无所产生的惆怅心理。“北雁”在超越空间所寓之意，正好与次句“明月”相同，故春归的北雁触发了诗人的思妻之情，又捎不来妻子的书信，留下的只是惆怅与失望。“看欲尽”三字，把诗人内心的焦灼不安、悲愁凄婉宣泄无遗。",
					"诗风凄婉，语浅情深，典故随手拈起，趁势放下，无不妥帖，仅用眼前景、口头语就将情感表现得语近情遥，含吐不穷，使人神远。“怨离居”“音信疏”这六个字，平淡之中透出至为沉郁的情感，反映的不仅仅是诗人个人的离情别绪，也因诗人的不幸遭遇是时代的罪恶所造成的，具有深刻的典型性，抒发了风烛残年抛妻离子的无限感慨。"],
					commentsis:true,
					comments:[{content:["魏颢序：“太白始娶于许，终娶于宗。”则此时之妇乃宗也，因寓豫章，故云。《一统志》犹以流夜郎时之妇为许相之女，以豫章为德安府豫章山，俱误。"],original:"清代王琦《李太白全集》"},
					{content:["解评：李白妻子宗氏为营救诗人，前来豫章。诗人南来夜郎途中，却盼不到妻子的书信。"],original:"近代廖仲安《唐诗一万首》"},
					
					],
					calligraphyis:true,
					calligraphy:[
					{content:"./resource/南流夜郎寄内/书法1.jpg",original:"（书写者：郝乙，师承牛逍先生，石家庄市书法家协会会员，河北金融书法家协会会员。）"},
					{content:"./resource/南流夜郎寄内/书法2.jpg",original:"（书写者：张长义，字常宜，号宜斋主人，退役军官，四川乐山市天开书法艺术研究会副会长。）"}
					],
					drawis:false,
					draw:[{content:"./resource/上三峡/美术1.jpg",original:"赵春彦 译"}],
					reciteis:true,
					recite:{content:"./resource/南流夜郎寄内/朗诵1.mp3",original:""},
					courseis:true,
					course:[{address:"https://haokan.baidu.com/v?vid=7984384618841975139",tittle:"李白《南流夜郎寄内》讲解、赏析"}],
					studyis:false,
					studyone:[{content:[""],
					original:""}],
					studytwo:[{address:"",tittle:""}],
					contrastis:false,
					contrast:{poem:[{title:"",original:"",sentence:[]}],content:[]},
					questionis:true,
					question:[{que:"李白赠内诗赏析：",
					ans:["“李白初下山时，安史之乱尚未平息，应当深知此次下山的危险，然而一颗积极用世的心终于在“王命三征”的情况下别妻而去。怀着对前路荆棘险恶的畏惧，夫妻更是难分难舍，作《别内赴征三首》。这三首诗可以看出宗氏曾劝李白不要下山，而此时的李白以为遇到了实现自己“使寰区大定，海县清一”的政治理想的时机，诗中洋溢着昂扬兴奋的情绪。而不到一年便被牵连入狱。李白入狱后，妻宗氏曾下庐山为之奔走求救于权贵，李白作有《在寻阳非所寄内》：“闻难知恸哭，行啼入府中。多君同蔡琰，流泪请曹公。知登吴章岭，昔与死无分。崎岖行石道，外折入青云。相见若悲叹，哀声那可闻。”虽有宗氏奔走营救，李白亦托权贵相救，然而还是被判长流夜郎。在流放途中，诗人生死未卜，更有与妻生离死别之感，内心的苦闷化为对妻子的深深思念。在流放途中所作《南流夜郎寄内》云：“夜郎天外怨离居，明月楼中音信疏。北雁春归看欲尽，南来不得豫章书。”",
					"这些诗是患难之中夫妻深厚、真挚感情的抒写，从中可以看出李白与妻子在患难之中的忠贞爱情，反映出夫妻二人高尚的人格。",
					"对妇女的态度被认为是检验社会进步和作家进步与否的标志。李白的赠内诗中活跃着一位对爱情坚贞专一、对妻子深情关怀、患难与共的诗人形象。这正是李白坦率真诚的个性、平等进步的思想观念的充分体现。”"],
					original:"（参考文献：[1]王建斌.坦荡真诚的人格美——李白赠内诗赏析[J].美与时代(下半月),2008,No.338(06):118-120.）"}],
					sumis:false,
					sum:[{tittle:"",content:[""],original:""}],
					},
					{
					//8
					all:"忆秋浦桃花旧游，时窜夜郎",
					backgroundis:true,
					background:["乾元元年（758年），四月，史思反。五月，肃宗罢张镐宰相，出为荆州大都督长史。十二月，史思明陷魏州（今河北省南部）。李白五十八岁。李白自寻阳出发，开始长流夜郎，妻弟宗嫌相送。李白服刑时间，在其诗《忆秋浦桃花旧游时窜夜郎》中言：“三载夜郎还，于兹炼金骨。”可知刑期三年。",
					"流放夜郎之首途，是从寻阳起程的。夜郎地处贵州北部，从寻阳出发须溯江而西上，过三峡、入巴蜀，再至贵州。逆江船行缓慢，旅途将颇为漫长。"],
					appreciationis:true,
					appreciation:["本诗是一首五言古诗，创作于李白流放夜郎期间。前两联为虚写，是作者对于过去在春日桃花盛开时节游览秋浦的怀念，那时春水大涨、藤枝繁茂，随风飘动的女萝藤枝甚至可以摇碎青天的月亮，景色实在怡人。第三联是作者对游览之地——秋浦的追忆与挂牵，想象过去在秋浦走过的路上是否又生出了新的蕨草。最后一联是作者对于未来的幻想，希望自己可以平安度过在夜郎流放的三年时光，早日回到秋浦学习神仙锻炼金骨。全诗充满着积极昂扬的乐观主义精神以及浪漫主义思想，作者虽身处流放期间，却从未消极低沉，仍然充满着对未来的向往和憧憬。"],
					commentsis:false,
					comments:[{content:["魏颢序：“太白始娶于许，终娶于宗。”则此时之妇乃宗也，因寓豫章，故云。《一统志》犹以流夜郎时之妇为许相之女，以豫章为德安府豫章山，俱误。"],original:"清代王琦《李太白全集》"},
					{content:["解评：李白妻子宗氏为营救诗人，前来豫章。诗人南来夜郎途中，却盼不到妻子的书信。"],original:"近代廖仲安《唐诗一万首》"},
					
					],
					calligraphyis:false,
					calligraphy:[
					{content:"./resource/南流夜郎寄内/书法1.jpg",original:"（书写者：郝乙，师承牛逍先生，石家庄市书法家协会会员，河北金融书法家协会会员。）"},
					{content:"./resource/南流夜郎寄内/书法2.jpg",original:"（书写者：张长义，字常宜，号宜斋主人，退役军官，四川乐山市天开书法艺术研究会副会长。）"}
					],
					drawis:false,
					draw:[{content:"./resource/上三峡/美术1.jpg",original:"赵春彦 译"}],
					reciteis:false,
					recite:{content:"./resource/南流夜郎寄内/朗诵1.mp3",original:""},
					courseis:false,
					course:[{address:"https://haokan.baidu.com/v?vid=7984384618841975139",tittle:"李白《南流夜郎寄内》讲解、赏析"}],
					studyis:false,
					studyone:[{content:[""],
					original:""}],
					studytwo:[{address:"",tittle:""}],
					contrastis:false,
					contrast:{poem:[{title:"",original:"",sentence:[]}],content:[]},
					questionis:true,
					question:[{que:"李白与“夜郎”：",
					ans:["夜郎囯，是我国西南少数民族建立的第一个国家，从春秋时立国，到西汉昭帝时夜郎王被诛杀而灭国，前后有数百年历史，范围在川黔滇及湘桂周边。唐贞观十六年（642年）起，蒙山以北、松坎以南为夜郎县，隶于珍州夜郎郡。夜郎县治及珍州州治均在今贵州省桐梓县夜郎坝。",
					"唐贞观八年（634），析龙标置夜郎县，地点在今天湘西的新晃县一带。北宋大观二年（公元1108年）至宣和二年（1120），当地复置夜郎县。无疑，古代的夜郎包括我们湘西的部分地区。",
					"唐天宝七年（748），与李白同时期的大诗人王昌龄，由江宁丞谪贬到今洪江市黔城镇为龙标尉，他作为王昌龄的诗界好友，提笔写成《闻王昌龄左迁龙标，遥有此寄》，成为流传千古的经典诗篇——“杨花落尽子规啼，闻道龙标过五溪。我寄愁心与明月，随风直到夜郎西。”此时，或许李白还不清楚龙标县的具体位置，但是应该知道龙标县曾经管辖过夜郎之地。",
					"天公有时会作弄人。至德二年（757年），57岁的李白在永王军营作组诗《永王东巡歌》。永王兵败丹阳，李白自丹阳南逃，旋被搏入狱中。在王位之争中“站错了队”的李白，虽然没扛枪上阵，但是他写了11首七绝诗，为永王抬轿吹号，终以参加永王东巡而被判罪长流夜郎。",
					"《旧唐书》记载：永王谋乱，兵败，(李)白坐长流夜郎。后遇赦得还，竟以饮酒过度，醉死于宣城。《新唐书》载：有诏长流夜郎。会赦，还寻阳，坐事下狱。",
					"李白流放的第一站是寻阳，他受到了当地的友好接待，觥筹交错之后，宾散予独醉，写下了《流夜郎永华寺，寄寻阳群官》，其中的“愿结九江流，添成万行泪”，流露出沦落天涯之心境。妻弟宗璟还到寻阳来送行，他作《窜夜郎，于乌江留别宗十六璟》当诀别。",
					"路上，李白还遇到了其他诗歌爱好者，留下了《流夜郎至江夏，陪长史叔及薛明府宴兴德寺南阁》：“绀殿横江上，青山落镜中。岸回沙不尽，日映水成空。天乐流香阁，莲舟飏晚风。恭陪竹林宴，留醉与陶公。”他还写有《张相公出镇荆州，寻除太子詹事，余时流夜郎，行至江夏，与张公相去千里，公因太府丞王昔使车寄罗衣二事，及五月五日赠余诗，余答以此诗》，题目有点拗口，相当于现今的题记。",
					"在江夏(今湖北省鄂州市)，李白给韦太守写了《经乱离后天恩流夜郎忆旧游书怀赠江夏韦太守良宰》，把受贬的来龙去脉作了一番整理：“……空名适自误，迫胁上楼船。徒赐五百金，弃之若浮烟。辞官不受赏，翻谪夜郎天。夜郎万里道，西上令人老”。这是一首长篇叙事诗，因为他是在途中，还无法作出关于夜郎的具体描述。",
					"李白到了武昌，又写下《流夜郎至西塞驿，寄裴隐》：“鸟去天路长，人愁春光短。”中途，他还特意去拜访被贬到岳州(湖南岳阳)的贾至。他们泛舟于洞庭之上，酒仙的脾性依然不改，还是各种喝，喝完之后就作诗，留下《留别贾舍人至二首》，在其二中写道：“君为长沙客，我独之夜郎。劝此一杯酒，岂惟道路长。”",
					"流放夜郎的过程中，李白少了一些豪放和洒脱，多了一些愁绪和情思。他看到葵叶，写下《流夜郎题葵叶》，抒发自己盼望能获释返归故园的心情。《南流夜郎寄内》，则是写给在豫章(江西南昌)的妻子的一首诗，“北雁春归看欲尽，南来不得豫章书。”李白一生很少写家庭、写老婆孩子，写出如此款款深情的寄内诗，说明诗人在当时的孤独与无助。",
					"在古夜郎，李白有一个梦想，希望肃宗皇帝再来一次大赦，能让他回归故地。在诗歌《流夜郎赠辛判官》中，李白写道：“我愁远谪夜郎去，何日金鸡放赦回。”在当时不到两年的时间里，因登基、改年号等等大事，唐肃宗四次大赦天下。李白没有获得大赦的红利，只能写诗聊以自慰，诗名就叫《流夜郎闻酺不预》：“北阙圣人歌太康，南冠君子窜遐荒。”",
					"大赦终于等来了，李白想尽快回到过去的时光，写出了《忆秋浦桃花旧游，时窜夜郎》：“桃花春水生，白石今出没。摇荡女萝枝，半摇青天月。不知旧行径，初拳几枝蕨。三载夜郎还，于兹炼金骨”。有的专家学者认为，李白并没有到过古夜郎地区，是在流放的途中遇大赦就折返而回的。但是，更多的人认为，李白在这首诗里承认自己在夜郎漂泊三年。可以说，这首诗是李白到过夜郎最靠谱的证据。我也粗浅地以诗判断：他已经到夜郎一段时间了，回去的路都不记得了，眼前只有如同举着小拳头的蕨菜——这正是古夜郎的风物。",
					"李白大赦之后轻松愉悦，写出的诗当然酣畅自如。特别是其《早发白帝城》：“朝辞白帝彩云间，千里江陵一日还，两岸猿声啼不住，轻舟已过万重山。”心由景生，诗出心声，成就千古名篇。接着，他在《流夜郎半道承恩放还，兼欣克复之美书怀示息秀才》中写道：“半道雪屯蒙，旷如鸟出笼。”其兴奋之状跃出诗行。到了汉阳，他写了《自汉阳病酒归，寄王明府》：“去岁左迁夜郎道，琉璃砚水长枯槁。今年敕放巫山阳，蛟龙笔翰生辉光。”在《江夏赠韦南陵冰》里，更是“天地再新法令宽，夜郎迁客带霜寒。”",
					"回到家中，亲朋好友都来看望，李白在半醉半醒中生出因祸得福的感觉，在《赠刘都使》中他感叹：“而我谢明主，衔哀投夜郎。归家酒债多，门客粲成行。”在《江上赠窦长史》中，他写道：“万里南迁夜郎国，三年归及长风沙。”此时，心情似乎已经平复。",
					"有人说愤怒出诗人，有人说烟出文章酒出诗。看来，李白此番流放夜郎，酒应该还是有喝的，郁闷也是满满的。在《全唐诗》中，他有关夜郎的诗歌，初步统计有18首，其中流放途中写的就有13首，这说明李白在古夜郎停留的时间并不长。",
					"在今天，在贵州的桐梓，留存有不少和李白有关的遗迹，如太白诗碑、太白碑亭、百碑台、太白书院、太白望月台、谪仙桥等。在我们新晃，唐朝时就在龙溪口修建了太白楼，明朝时又修建了镇江阁，正面墙上有李白的画像，下面有青石做的石桌石凳，传说是李白的读书台，体现了当地人对李白的怀念之情。",
					"但是，从李白的诗歌分析，我认为他的夜郎之行来回应该都是长江水路。至于是否到过湘西，还需要新的证据。假若李白从沅水而入夜郎，饱览奇妙的沅江风光，游历迤逦的湘西山水，他一定会奉上更多美轮美奂的诗篇，足以惊天地、泣鬼神。"],
					original:"（源自：“秘境大湘西”公众号——《李白放歌“古夜郎”》）"}],
					sumis:false,
					sum:[{tittle:"",content:[""],original:""}],
					}
				
				
				
				
				
				
				
				
				
				]
			}
		}
		)
	</script>
	<script type="text/javascript">
		var index=0;
		function ChangeImg(){
			index++;
			var a=document.getElementsByClassName("img-slide");
			if(index>=a.length) index=0;
			for(var i=0;i<a.length;i++){
				a[i].style.display='none';
			}
			a[index].style.display='block';
			
		}
	</script>
	<script>        
	  var mySwiper = new Swiper ('.swiper', {
	    loop: true, // 循环模式选项
	    
	    // 如果需要分页器
	    pagination: {
	      el: '.swiper-pagination',
	    },
	    
	    // 如果需要前进后退按钮
	    navigation: {
	      nextEl: '.swiper-button-next',
	      prevEl: '.swiper-button-prev',
	    },
	    
	    // 如果需要滚动条
	    scrollbar: {
	      el: '.swiper-scrollbar'
	    },
	  })        
	  </script>
	

</body>
</html>